* {
	cursor: none;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100vh;
	background-color: #89a18e;
}

h1 {
	font-size: 5rem;
	color: #fff;
	border: 1rem solid #fff;
	padding: 1rem 2rem;
	text-align: center;
	transform: translateY(-50%);
}
